<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download Requested</title>
        <!-- Refresh the page every 3 seconds -->
        <meta http-equiv="refresh" content="3">
        <style>
            div.ex2 {max-width: 900px; margin: auto;}
        </style>
    </head>
    <body>
        <div class="ex2">
            <h1 itemprop="name">{{.MSG}}</h1>
        </div>
    </body>
</html>
